<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <title>Add runner</title>
  </head>
  <body>
    <header>
      <h1>Add New Runner:</h1>
    </header>
    <div class="navigation">
      <a href="/">Runner</a>
      <a href="/addNew">Add Runner</a>
    </div>
    <div class="wrapper">
      <form action="/addNew" method="post">
        <div class="fields" id="fields">
          <span>New Runner ID: </span>
          <input type="text" name="id" value="{{newId}}" readonly>
          <input type="text" placeholder="Name" name="name">
          <input type="text" placeholder="Division" name="division">
          <input type="text" placeholder="Sponsor" name="sponsor">
        </div>
        <div class="footer">
          <button>Add Runner</button>
        </div>
      </form>
    </div>
  </body>
</html>
